body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*  app.js  */
.sidebar{
  background-color: gainsboro; 
  height: 100%;
  overflow: hidden; 
   width: auto; 
}

.chatRoomName{ 
  width: auto;
  height: 100%;
}

.username{
  font-size: .7em;
  color: darkgray;
  line-height: .8em; 
}

