body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*  app.js  */
.sidebar{
  background-color: gainsboro;
  width: 20%;
  height: 100%;
  position: fixed;
}

.chatMessage {
  width:75%;
  margin-inline-start: auto;
}

.chatApp{
  text-align: left;
}
